p{
    color: black;
    margin-top: 1em;
    font-size: 17px;
}
.change-section{
    width: 25em;
    height: auto;
    border: 1px solid black;
    margin-top: 3em;
    margin-left: 36%;
    position: absolute;
    justify-content: center;
    display: flex;
}

.loginText{
    font-family: AppleGothic;
    font-size: 20px;
    margin-top: 2em;
    text-align: center;
}

input{
    border-radius: 5px;
    font-size: 13px;
    height: 3em;
    width: 20em;
    margin-top: 2em;
}
a{
    color: black;
    font-size: 17px;
}
button{
    height: 3em;
    width: 10em;
    justify-content: center;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
}
/* login.css and register.css */

.alert {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.form-control {
    margin-bottom: 20px; /* Ensures space for error messages */
}

.alert-danger {
    color: #d9534f;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px;
    border-radius: 5px;
}

.alert-success{
    color: black;
    background-color: mediumseagreen;
    padding: 10px;
    border-radius: 5px;
}

.loginText, .registerText {
    margin-bottom: 20px;
}
